.about {
  padding: 62px 0;
}

.about__title {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  max-width: 700px;
  margin: 0 0 24px;
}

.about__description {
  line-height: 150%;
  max-width: 700px;
  margin: 0 0 72px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 384px);
  gap: 24px 32px;
}

.about__item {
  padding: 6px 6px 6px 96px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 80px;
}

.about__item_top {
  background-image: url(../img/top.svg);
}

.about__item_master {
  background-image: url(../img/master.svg);
}

.about__item_guarantee {
  background-image: url(../img/guarantee.svg);
}

.about__item-title {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.about__item-description {
  margin: 0;
  line-height: 130%;
}

@media (max-width: 1310px) {
  .about__list {
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 24px 29px;
  }
}

@media (max-width: 1024px) {
  .about__item {
    background-position: top;
    padding: 96px 0 0 0;
  }

  .about__description {
    margin: 0 0 46px;
  }

  .about__list {
    grid-template-columns: repeat(auto-fit, 290px);

    gap: 24px 29px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 40px 0;
  }

  .about__item {
    padding: 6px 6px 6px 96px;
    background-position: left;
  }
  .about__title {
    font-size: 32px;
    max-width: 672px;
  }

  .about__description {
    line-height: 150%;
    max-width: 672px;
    margin: 0 0 32px;
  }

  .about__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 24px 32px;
  }

  .about__item {
    padding: 6px 6px 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
  }

  .about__item-title {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
  }

  .about__item-description {
    margin: 0;
    line-height: 130%;
  }
}

@media (max-width: 560px) {
  .about {
    padding: 32px 0;
  }

  .about__title {
    font-size: 20px;
    max-width: 272px;
    margin: 0 0 16px;
  }

  .about__description {
    line-height: 150%;

    margin: 0 0 32px;
  }

  .about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 272px);
    gap: 24px 32px;
  }

  .about__item {
    padding: 6px 6px 6px 72px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 64px;
  }

  .about__item-title {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
  }

  .about__item-description {
    margin: 0;
    line-height: 130%;
    font-size: 12px;
  }
}
